name: "CI C++: Windows"

on: [ push, pull_request ]

jobs:
  build:
    name: Windows (${{ matrix.compiler.name }})
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        compiler:
        - {
          name: "Clang",
          cc: "clang",
          cxx: "clang++",
          xmake-toolchain: "--toolchain=llvm --sdk=\"$env:LLVM_PATH\""
        }
    steps:
    - uses: actions/checkout@v4
    - uses: xmake-io/github-action-setup-xmake@v1
      with:
        xmake-version: branch@master

    - name: Install LLVM
      uses: KyleMayes/install-llvm-action@master
      with:
        version: "21.1.3"

    - name: Configure & Install dependencies
      shell: pwsh
      env:
        CC: ${{ matrix.compiler.cc }}
        CXX: ${{ matrix.compiler.cxx }}
      run: |
        xmake f ${{ matrix.compiler.xmake-toolchain }} --runtimes="c++_shared" --enable_tests=y -v --yes

    - name: Build
      shell: pwsh
      run: |
        xmake build -v

    - name: Run tests
      shell: pwsh
      run: |
        xmake run

